@media screen and (max-width: 1000px) {
    #artikelen {
    height: 2200px;
    width: 100%;
    }
    #nep-artikelen {
    width: 300px;
    }
    #informatie-betekenis {
    width: 900px;
    }
    #natuurlijke-technologie {
    width: 100%;
    height: 100%;
    }
    #informatie-betekenis {
    width: 100%;
    }
    .bronnen {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    }
    #skills {
    width: 100%;
    }
    .quote {
    margin-top: 200px;
    width: 100%
    }
    #contact {
    width: 100%;
    } 
    .skills-text {
    margin-left: 70px; 
    }
    html, body{
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
    }
}

@media screen and (max-width: 850px) {
   #natuurlijke-technologie {
    flex-direction: column;
    }
    .nt-text {
    margin-left: 70px;
    }
    .nt-img img {
    width: 100%;
    margin-bottom: 30px;
    }
    #informatie-betekenis {
    flex-direction: column;
    height: 100%;
    }
    .info-text {
    margin-left: 70px;
    }
    .info-img img{
    width: 100%;
    }
    #drie-vragen {
    margin-top: 80px;
    }
   #creatief-proces {
    width: 500px;
    height: 100%;
    }
    .onderbreking {
    width: 100%;
    }
  }
@media screen and (max-width: 768px) {
    .titel {
    width: 400px;
    padding-top: 300px;
    }
    h1,h2 {
    font-size: 80px;
    }
    nav {
    position: relative;
    }
    #mijn-artikel{
    width: 100%;
    } 
    #film-box {
    width: 100%;
    }
    h4 {
    width: 100%;
    }
}
@media screen and (max-width: 700px) {
   .nt-text {
    width: 100%;
    margin-left: 10px;
   }
   #design-statussymbool {
    width: 100%;
    margin-left: 10px;
   }
   .info-text {
    width: 100%;
    margin-left: 10px;
   }
   #drie-vragen {
    width: 100%;
    margin-left: 10px;
   }
  .skills-text {
    width: 100%;
    margin-top: 30px;
    margin-left: 10px;
  }
  #creatief-proces {
    width: 100%;
    margin-left: 10px;
  }
  #mijn-rol {
    width: 100%;
    margin-left: 10px;
  }
}
@media screen and (max-width: 475px) {
  .quote {
    height: 100%;
  }
  .quote p {
   padding-left: 0px;
  }
}
@media screen and (max-width: 375px) {
   h1,h2 {
    font-size: 60px;
   }
   .titel {
    padding-top: 280px;
    width: 100%;
   }
}