header {
    background-image: url(../img/headerfoto1.JPG);
    background-size: cover;
    width: 100%;
    height: 830px;
    background-attachment: fixed;
}
#artikel-1 header{ 
    background-image: url(../img/mijn-artikel.JPG);
}

nav {
    color: #443D37;
    font-family: Khmer MN;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
    position: fixed;
}
ul li {
    float: left;
    width: 150px;
    height: 50px;
    background-color: #443d37;
    opacity: 0.8;
    line-height: 50px;
    text-align: center;
}
ul li a {
    text-decoration: none;
    color: #EDEFD6;
    display: block;
}
ul li a:hover {
    background-color: #EDEFD6;
    color: #443d37;  
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}
.titel {
    width: 777px;
    padding-top: 370px;
    padding-left: 50px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    color: white; 
    font-family: Khmer MN;
    font-weight: bold;
    font-size: 100px;
    line-height: 80px;
}
h2 {
    color: white; 
    font-family: Khmer MN;
    font-size: 100px;
}
h3 {
    font-family: Khmer MN;
    font-size: 25px;
    color: #443D37;
    font-weight: bold;
    line-height: 30px;
}
p {
    font-family: Khmer MN;
    font-size: 20px;
    color: #443D37;
    line-height: 30px;
    margin-bottom: 30px;
}
#mijn-artikel {
    width: 671px;
    height: 800px;
    padding-top: 160px;
    text-align: center;
    margin: 0 auto;
}
#mijn-artikel img{
    height: 355px;
    margin-bottom: 20px;
    width: 100%;
}
#mijn-artikel h3 {
    text-align: center;
}
#mijn-artikel p{
    text-align: center;
}
button {
    font-family: Khmer MN;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: #443D37;
    background: none;
    border: 3px solid #443D37;
    border-radius: 30px;
    position: relative;
    width: 130px;
    margin: 0 auto;
}
button a {
    text-decoration: none;
    color: #443D37;
} 
button:hover {
    color: transparent; 
    background-color: #443d37;
    transition: 0.8s;
}
button a:hover {
    color: white;
}
#artikelen {
    width: 100%;
    height: 920px;
    background-color: #F2F6E3;
}
h4 {
    font-family: Khmer MN;
    font-weight: bold;
    font-size: 40px;
    color:#443D37;
    text-align: center;
    line-height: 50px;
    width: 690px; 
    padding-top: 150px;
    margin: 0 auto;
}
#artikelen div div{
    float:left;
    margin-top: 40px;
    margin-right: 30px;
    height: 620px;
    width: 300px;
}
#nep-artikelen img {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
    object-fit: cover;
}
#nep-artikelen {
    padding-top: 30px;
    margin:0 auto;
    width: 990px;
}
.artikel-2 button {
    margin-top: 30px;
}
#film-box {
    height: 650px;
    width: 630px; 
    padding-top: 170px;
    margin: 0 auto;
}
iframe {
    width: 100%;
}
#film-box h3 {
  margin-top: 30px;
}
#natuurlijke-technologie {
    height: 450px;
    width: 960px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}
.nt-text {
    width: 580px;
}
.nt-img img{
    height: 450px;
    width: 350px;
    object-fit: cover;
    padding-right: 30px;
}
#design-statussymbool {
    width: 700px;
    height: 300px;
    padding-top: 150px;
    margin: 0 auto;
}
a {
    color: rgb(142, 201, 238);
    text-decoration: underline;
}
.quote {
    width: 670px;
    margin: 0 auto;
    height: 100px;
    padding-top: 200px;
}
h5 {
    font-family: Khmer MN;
    font-size: 40px;
    color: #443D37;
    text-align: center;
}
.quote p{
    font-size: 30px;
    width: 200px;
    text-align: center;
    padding-left: 250px;

}
#informatie-betekenis {
    width: 1020px;
    height: 600px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}
.info-img img{
    width: 350px;
    height: 400px;
    padding-right: 30px;
    float: left;
    object-fit: cover;
}
.info-text {
    padding-top: 80px;
    width: 600px;
 }
#drie-vragen {
    width: 655px;
    height: 255px;
    margin: 0 auto;
}
#skills {
    width: 900px;
    height: 600px;
    padding-top: 160px;
    margin: 0 auto;
}
.skills-img img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    float: right;
    margin: 0 auto;
}
.skills-text{
    float: left;
    width: 600px;
}
#creatief-proces {
    width: 700px;
    height: 460px;
    padding-top: 120px;
    margin: 0 auto;
}
.onderbreking {
    width: 600px;
    height: 350px;
    margin: 0 auto;
    padding-top: 200px;
}
.onderbreking img {
    width: 100%;
    height: 100%;
    float: left;
}
#mijn-rol {
    width: 550px;
    height: 600px;
    padding-top: 100px;
    margin: 0 auto;
}
#mijn-rol button {
   margin-top: 150px;
}
.bronnen {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
.bronnen a{
    color: rgb(119, 186, 228);
}
footer {
    height: 185px;
    width: 100%;
    background-color:#F2F6E3;
}
.social-icons {
    width: 225px;
    position: relative;
    margin: 0 auto;
}
.social-icons a{
    display: inline-block;
    color: #443D37;
    font-size: 25px;
    padding-left: 25px;
}
.social-icons a:hover {
   color: #7b6f64;
}
#contact {
    width: 400px;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}



